@font-face {
  font-display: swap; 
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/MullerLight.woff2') format('woff2'),
       url('../fonts/MullerLight.woff') format('woff');
}

@font-face {
  font-display: swap; 
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
}

@font-face {
  font-display: swap; 
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
       url('../fonts/MullerMedium.woff') format('woff');
}

@font-face {
  font-display: swap; 
  font-family: 'Muller';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/MullerBold.woff2') format('woff2'),
       url('../fonts/MullerBold.woff') format('woff');
}

:root {
  --main-color: #cc9933;
  --main-light-color: #f0bf5f;
  --main-darck-color: #a47312;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
}

.orange-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
}

.link:hover,
.link:hover .vector path {
  fill: var(--main-light-color);
  color: var(--main-light-color);
  transition: color .3s ease;
}

.link:focus {
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
}

.link:active {
  color: var(--main-darck-color);
  outline: none;
  transition: color .3s ease;
}

.link:active .vector path {
  fill: var(--main-darck-color);
}

.link-card-focus:focus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid var(--main-color);
  outline-offset: 10px;
  border-radius: 15px;
}

.link-card-focus:active {
  color: #fff;
}

.main-title {
  white-space: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333;
  word-break: break-all;
}

.main-title-margin {
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 20px;
}

.rectangle {
  display: inline-block;
  transform: translateY(2px);
}

.link:hover .rectangle path {
  stroke: var(--main-light-color);
  transform: translateX(5px);
  transition: color .3s ease;
}

.link:focus .rectangle path {
  outline: none;
}


.btn {
  display: inline-block;
  min-width: 100px;
  border: 1px solid var(--main-color);
  white-space: nowrap;
  border-radius: 10px;
}

.btn:hover,
.btn:focus {
  background-color: var(--main-color);
  color: #fff;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: var(--main-darck-color);
  border-color: var(--main-darck-color);
  color: #fff;
  transition: color .2s ease;
  transform: translate(2px, 2px);
}

/* Header */
/* Header-top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-top-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-top-logo {
  margin-right: 35px;
}

.header-top-img:focus {
  border-radius: 15px;
  outline: 1px solid var(--main-color);
  outline-offset: 5px;
}

.header-top-contacts {
  max-width: 200px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.header-top-contacts-link {
  display: inline-block;
  color: #666;
}

.header-top-contacts-link:hover,
.header-top-contacts-link:focus {
  color: var(--main-color);
}

.header-top-contacts-link:focus {
  outline-color: var(--main-color);
  outline-offset: 5px;
}

.header-authorization-vector {
  display: inline-block;
  width: 21px;
  height: 12px;
  margin-right: 7px;
}

/* Header-back */
.header-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px;
  margin-bottom: 70px;
  min-height: 70px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: #fff;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin: 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}


.nav-link {
  display: inline-block;
  color: #666;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--main-color);
  transition: color .3s ease;
}

.nav-link:focus {
  outline-color: var(--main-color);
  outline-offset: 5px;
}

.nav-link:active {
  color: var(--main-darck-color);
}

.header-back-right {
  display: flex;
}

.header-btn {
  margin: 14px 40px 14px 0;
  padding: 13px 20px;
}

/* Offers */
.offers {
  margin-bottom: 70px;
}

.offers-container {
  display: flex;
}

.offers-island-card {
  position: relative;
  min-width: 573px;
  margin-right: 24px;
  padding: 40px 108px 40px 45px;
  border: 1px solid transparent;
  border-radius: 15px;
}

.offers-island-card:not(:last-child) {
  margin-bottom: 24px;
}

.offers-card-title {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.offers-card-price {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

.offers-card-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--main-color);
}

.offers-card-link:focus {
  outline: none;
}

.card-maldive {
  border-radius: 25px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/maldive.jpg') center center no-repeat transparent;
  background-size: cover;
}

.card-cirt {
  border-radius: 25px;
  background:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url('../img/creat.jpg') center center no-repeat transparent;
  background-size: cover;
}

.offers-hotel {
  position: relative;
  padding: 178px 227px 38px 43px;
  max-width: 573px;
  border: 1px solid transparent;
  border-radius: 25px;
  background: url('../img/luks_room.jpg') center center no-repeat transparent;
  background-size: cover;
}

.offers-card-title-big {
  display: inline-block;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.offers-card-price-big {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  opacity: 0.8;
}

/* About */
.about {
  margin-bottom: 70px;
}

.about-container {
  max-width: 888px;
}

.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* Service */
.service {
  margin-bottom: 46px;
}
.service-list {
  display: flex;
  flex-flow: row wrap;
}

.service-item {
  position: relative;
  max-width: 573px;
  margin-bottom: 24px;
  border: 0px solid transparent;
  border-radius: 15px;
  background-color: #fff;
}

.service-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.service-exclusive {
  background: url('../img/glass-of-champagne.jpg') center center no-repeat transparent;
}

.service-rent {
  background: url('../img/banquet-hall.jpg') center center no-repeat transparent;
}

.service-spa {
  background: url('../img/swimming-pool.jpg') center center no-repeat transparent;
}

.service-parcing {
  background: url('../img/car.jpg') center center no-repeat transparent;
}

.service-item-image {
  width: 573px;
  height: 165px;
  border-radius: 15px 15px 0 0;
  background-size: contain;
  background-color: #e5e5e5;
}

.service-back {
  padding: 26px 126px 35px 45px;
}

.service-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%
}

.service-link:focus {
  outline: none;
}

.service-link.rectangle {
  transform: translateY(+2px);
}

.service-link:active .rectangle path {
  stroke: var(--main-darck-color);
  transition: stroke .3s ease;
}

.service-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* advantage */
.advantage-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 46px;
}

.advantage-item {
  padding: 40px 42px 32px 45px;
  max-width: 276px;
  margin-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #fff;
}

.advantage-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantage-icon {
  margin-bottom: 5px;
}

.advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* Placement */
.placement {
  margin-bottom: 70px;
}

.placement-list {
  display: flex;
  flex-flow: row wrap;
}

.placement-item {
  max-width: 374px;
  margin-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #fff;
}

.placement-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.placement-img {
  width: 374px;
  height: 217px;
  border-radius: 15px 15px 0 0;
}

.placement-img-espan {
  background: url('../img/espan.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-img-tipicas {
  background: url('../img/tipicas.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-img-guerra {
  background: url('../img/guerra.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-img-piadosa {
  background: url('../img/piadosa.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-img-creatividad {
  background: url('../img/creatividad.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-img-retorno {
  background: url('../img/retorno.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-img-mentira {
  background: url('../img/mentira.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-img-siempre {
  background: url('../img/siempre.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placment-discription {
  padding: 32px 45px 45px;
}

.star {
  margin-bottom: 16px;
}

.gray-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.boold-text {
  white-space: nowrap;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.placement-img-star {
  margin-left: 50px;
}

.placement-hotell {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.placement-city {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.placement-link {
  padding: 13px 20px;
  text-align: center;
}

.placement-last-item {
  position: relative;
  padding: 373px 50px 27px 54px;
  background: url('../img/full-option.jpg') center center no-repeat transparent;
  background-size: cover;
}

.placement-last-item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}

.placement-last-item-link:focus {
  outline: none;
}

.placement-last-item-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.placement-last-item-link:focus::before {
  border-radius: 15px;
  outline: 1px solid var(--main-darck-color);
  outline-offset: 5px;
}

.rectangle-white {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url('../img/Rectangle-white.svg') no-repeat transparent;
  background-size: contain;
  transform: translateY(1px);
}

/* What-thour */
.container-thour {
  padding: 45px 45px 45px 40px;
  margin-bottom: 70px;
  border-radius: 15px;
  background-color: #e9e9e9;
}

.thour-form {
  display: flex;
  align-items: center;
  padding: 31px 28px;
  border-radius: 15px;
  background-color: #fff;
}

.thour-form-item-left {
  display: flex;
}

.thour-form-item-box:not(:last-child) {
  margin-right: 41px;
}

.thour-form-lable {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.thour-form-item-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-self: stretch;
}

.thour-form-item:not(.item-shrink) {
  border: 0;
  min-width: 150px;
}


.thour-form-item-right {
  margin-left: 51px;
  align-self: center;
}

.item-shrink {
  max-width: 121px;
  border: 0;
  border-bottom: 1px solid #e9e9e9;
}

.thour-form-btn {
  min-width: 60px;
  padding: 13px 30px;
  background-color: #fff;
}

/* Contacts */
.contacts-container {
  display: flex;
  margin-bottom: 40px;
  padding: 45px 45px 70px 45px;
  border-radius: 15px;
  background-color: #fff;
}

.contacts-list {
  margin-bottom: 45px;
  margin-right: 52px;
  min-width: 375px;
}

.contacts-item {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

.contacts-item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.contacts-item-value {
  min-width: 229px;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.contacts-value-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-color);
}

.email-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999;
}

.contacts-route-link {
  margin-left: 45px;
  padding: 27px 29.5px;
}

.contacts-img {
  width: 653px;
  height: 528px;
  background: url('../img/holl.jpg') center center no-repeat transparent;
  background-size: contain;
}

/* footer */
.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 45px;
  border: 1px solid #333;
  border-radius: 15px;
  color: #fff;
  background-color: #333;
}

.copiright-text {
  margin-bottom: 40px;
}

.contacts-item:not(:first-child) {
  border-top: 1px solid #e9e9e9;
}

.copiright-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
}

.footer-adress {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.footer-phone {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.footer-mail-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.footer-logo-img {
  position: relative;
  right: 135px;
  bottom: -57px;
  z-index: 5;
  width: 254.75px;
  background: url('../img/footer-logo.svg') center center no-repeat transparent;
  box-sizing: border-box;
}

.social-link-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link:hover .social-link-icon path,
.social-link:focus .social-link-icon path {
  fill: var(--main-color);
  transition: color .3s ease;
}

.social-link:active .social-link-icon path{
  fill: var(--main-darck-color);
}

.social-link:focus{
  outline: none;
}